/**
* steal some stuff from tachyons
*/
body {
    max-width: 34em;
    margin: 2.25rem;
    font-size: 1.25em;
    font-family: sans-serif;
}

/**
* styles stolen from sakura
*/

/* Pre and Code */
pre {
    background-color: #f1f1f1;
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    font-family: monospace;
}
code {
    font-family: monospace;
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #f1f1f1;
    white-space: pre-wrap;
}

pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

/* nav */

nav {
    margin-top: 2.0em;
    margin-bottom: 1.5em;
}


nav > ul li {
    display: inline;
    list-style-type: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #f1f1f1;
        background-color: #000000;
    }
    code, pre {
        color: #f1f1f1;
        background-color: #696969;
    }
}
